<common-page-framework layout='blank'>
  <!-- <sitereg-msp-h2-with-print title="#NotForTesting Review your request for Update"></sitereg-msp-h2-with-print> -->
  <div class="container align-items-start ml-0 pl-0">
    <!--Component Heading-->
    <div class="row col-md-12 ml-0 pl-0 align-items-center">
      <div class="col-md-6 pl-0">
        <h1>Review your request for Updates</h1>        
      </div>
      <div class="col-md-2 ml-auto mr-0 pr-0 text-right align-items-right">
        <button tabindex="0" class="btn btn-default align-items-right" onclick="window.print();return false;" title="Print">
          <i class="fa fa-print fa-lg pointer" aria-hidden="true"></i> Print
        </button>
      </div>
    </div>
    <p class="border-bottom">Please review your information to ensure you have entered the correct details. If you submit incorrect information you will have to re-submit your request.</p>
    <sitereg-update-requestor-review></sitereg-update-requestor-review>
    <sitereg-update-organization-review></sitereg-update-organization-review>
    <sitereg-update-signing-authority-review></sitereg-update-signing-authority-review>
    <sitereg-update-access-admin-review></sitereg-update-access-admin-review>
    <sitereg-update-user-review></sitereg-update-user-review>
    <sitereg-update-group-review></sitereg-update-group-review>
  </div>
</common-page-framework>
<common-form-action-bar (btnClick)="continue()"></common-form-action-bar>